.px {
    font-size: 20px;
  }
  .em {
    font-size: 1.2em;
  }

  #example1 {
    color: green;
  }
  #example2 {
    color: #FFC778;
  }
  #example3 {
    color: #f89174;
  }

  .center {
    text-align: center;
  }
  .right {
    text-align: right;
  }

  /* body {
    background-color: #FFC778;
   }  */

.main {
    background-color: #FFC778;
  }

  .solid {
    border: solid 2px gray;
  }
  .dotted {
    border: dotted 2px gray;
  }
  .dashed {
    border: dashed 2px gray;
  }
  .double {
    border: double 5px gray;
  }
  .px1 {
    border: solid 1px orange;
  }

  .rei1 {
    border-top :solid 2px #FFA07A;
    border-left: solid 2px #FFA07A;
  }
  .rei2 {
    border-bottom: solid 2px #FFA07A;
    border-right: solid 2px #FFA07A;
  }

p {
    /*このようにメモ書き*/
    color: orange;
  } 

